* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Lato';
  line-height: 1.5;
  color: #444444;
}

:root {
  --vertical-space: 30px;
  --page-margin: 50px;
}

header {
  margin-bottom: var(--vertical-space);
  margin-top: var(--page-margin);
}

header > h1 {
  color: #DD0000;
  font-size: 2.5rem;
  margin: 0;
}

header > h2 {
  color: black;
  font-weight: lighter;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

ul.header-menu {
  display: flex;
  justify-content: start;
}

.header-menu > li {
  margin-right: 15px;
}

.header-menu > li > a:link,
.header-menu > li > a:visited {
  color: #dddddd;
}

.header-menu > li > a:hover {
  color: black;
}

article {
  margin-bottom: var(--vertical-space);
}

.date {
  color: #cccccc;
  font-size: 1.7rem;
}

.article-title {
  color: black;
  font-size: 1.75rem;
  margin-bottom: 10px;
}

.article-photo img {
  width: 100%;
  display: block;
  padding-bottom: 15px;
}

.article-blurb {
  padding-bottom: 10px;
}

.article-link {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 25px;
}

article a:link,
article a:visited {
  color: #DD0000;
  text-decoration: none;
  font-weight: bold;
}

article a:hover {
  color: #aa0000;
  text-decoration: none;
  font-weight: bold;
}

.footer-menu {
  padding-bottom: 20px;
  display: flex;
}

.footer-menu > li {
  text-decoration: none;
  padding: 0 10px;
  border-right: 1px solid #bbbbbb;
}

footer {
  margin-bottom: var(--page-margin);
}

.footer-menu > li:first-child {
  padding-left: 0px;
}

.footer-menu > li:last-child {
  border-right: 0;
}

.footer-menu > li > a:link,
.footer-menu > li > a:visited {
  text-decoration: none;
  color: #DD0000;
}

.footer-menu > li > a:hover {
  color: #aa0000;
  text-decoration: none;
}

.footer-copyright {
  color: #bbbbbb;
  font-size: 14px;
}

/* Desktop Styles */
@media only screen and (min-width: 981px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 980px) {
  .page { padding: 0 20px; }
}

@media only screen and (max-width: 610px) {
  ul.footer-menu {
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
  }

  ul.footer-menu > li {
    border-right: 0;
    border-style: none;
  }


@media only screen and (max-width: 520px) {
  ul.header-menu {
    flex-direction: column;
    text-align: center;
  }
}
